:root {
  --color-text: #434455;
  --color-title: #2e2f42;
  --color-logo: #4d5ae5;
  --color-text-p: #f4f4fd;
  --body-bg: #ffffff;
  --button-portf: #e7e9fc;
  --customers-icon: #8e8f99;
  --modal-bt: #404bbf;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--body-bg);
}

/**---------------------header--------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.home-pg {
  position: relative;
  color: #404bbf;
}

.home-pg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: #404bbf;
  bottom: -1px;
  border-radius: 2px;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-right: 0;
}

.link-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  text-decoration: none;
  margin-right: 76px;
}

.span {
  color: var(--color-title);
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-title);
  transition: color 250ms;
}

.link-header {
  color: #404bbf;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover {
  color: #404bbf;
}

.link-header:focus {
  color: #404bbf;
}

.header-item:hover {
  color: #404bbf;
}

.header-item:focus {
  color: #404bbf;
}

.heder-address {
  font-style: normal;
  margin: 0 auto;
}

.header-item-address {
  transition: color 250ms;
}

.link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover {
  color: #404bbf;
}

.link-address:focus {
  color: #404bbf;
}

.header-list-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-item-address:hover {
  color: #404bbf;
}

.header-item-address:focus {
  color: #404bbf;
}

/**------------hero-----------*/
.hero-button {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000000;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
  margin-bottom: 120px;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  min-width: 496px;
}

/**-------footer-----*/

.footer {
}

.footer-block {
  display: flex;
  align-items: baseline;
  background-color: var(--color-title);
}

.footer-link-soc {
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link-soc:hover {
  background-color: #31d0aa;
}

.footer-link-soc:focus {
  background-color: #31d0aa;
}

.container-footer {
  margin-right: 120px;
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-title);
}

.link-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-text-second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.block-footer-icon {
  padding: 0;
  margin-right: 80px;
}

.footer-item-icon {
  width: 40px;
  height: 40px;
}

.footer-link-soc {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon {
  fill: var(--color-text-p);
}

.footer-email {
  display: flex;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-email::placeholder {
  color: #ffffff;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 0px 8px 16px;
  background-color: transparent;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-button {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: absolute;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.icon-button-footer {
  margin-left: 16px;
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-input {
}
.footer-text-input {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

h1 {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/**-----------main----------*/

.container-skills-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.skills-icon {
}

.skills {
  padding: 120px 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-skills {
  display: flex;
  gap: 24px;
}

.container-skills {
  max-width: 1128px;
  padding: 0;
}

.skills-item {
  width: calc((100% - 72px) / 4);
}

.skills-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 8px;
}

.skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 8px;
}

.work {
}

.container-work {
  max-width: 1128px;
  padding: 0;
  margin-bottom: 120px;
}

.work-list {
  display: flex;
  gap: 24px;
  padding: 0;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

.container-team {
}
.team-list {
  display: flex;
  gap: 24px;
}

.team {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  padding-left: 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-align: center;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-top: 8px;
}

.team-item-icon {
  width: 40px;
  height: 40px;
}

.team-icon {
  fill: var(--color-text-p);
}

.team-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover {
  background-color: #404bbf;
}

.team-link:focus {
  background-color: #404bbf;
}

.name {
  padding: 32px 0px;
}

.container-customers {
  padding: 0;
}

.customers {
  padding: 120px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-icon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/**----pg2---*/

.mode-block {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  padding: 40px 32px 164px 32px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.mode-block-text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-p);
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .mode-block-text {
  transform: translateY(0%);
}

.portfolio-link:focus .mode-block-text {
  transform: translateY(0%);
}

.mode-first-block {
  position: relative;
  overflow: hidden;
}

.portfolio {
  position: relative;
  color: #404bbf;
}

.portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.buton-container {
}

.list-button {
  display: flex;
  gap: 24px;
  padding: 0;
  justify-content: center;
  margin-bottom: 72px;
}

.list-mode {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 24px;
  row-gap: 48px;
}

.item-mod {
  width: calc((100% - 48px) / 3);
}

.item-mod:hover .mode-block {
  transform: translate(0);
}
.item-mod:focus .mode-block {
  transform: translate(0);
}

.conteiner-text {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.menu-button {
  padding-top: 96px;
  padding-bottom: 120px;
}

.pg-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-logo);
  background-color: var(--color-text-p);
  padding: 12px 24px;
  max-height: 48px;
  border: 1px solid var(--button-portf);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pg-button:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pg-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title-pg {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 8px;
}

.portfolio-text-pg {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**----modal-----*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scalex(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.model-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
  stroke: #4d5ae5;
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  line-height: 1.17;
  letter-spacing: 0.48px;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-check {
  margin-bottom: 24px;
}

.input-check:checked + .check-text span {
  background-color: var(--modal-bt);
  border: none;
  fill: var(--color-text-p);
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.model-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-textarea:focus {
  border-color: #4d5ae5;
}

.model-textarea::placeholder {
  font-size: 12px;
  font-family: Roboto;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
}

.check-box {
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.comment-text {
  margin-bottom: 16px;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.bt-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bt-close:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.bt-close:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.button-order {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: none;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
}

.button-order:focus {
}

.modal-icon {
  position: absolute;
  left: 33.33%;
  right: 33.33%;
  top: 33.33%;
  bottom: 33.33%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover {
  fill: #ffffff;
}

.modal-icon:focus {
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scalex(0);
}
